{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<section class="margtop-100 dark:text-white text-3xl">
    <h1 class="text-center">Hello {{ user.username }}! ✅</h1>
    <h1> Email : {{user.email}}</h1>
    <h1> Mdp : {{user.password}}</h1>
    <h1> Rôle(s) :
        {% for role in user.roles %}
            {{ role }}
        {% endfor %}
    </h1>
</section>
<section>

</section>


{% endblock %}
