body {
    background-color: lightgray;
}
.absolcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.displayarticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.margtop-100{
    margin-top:100px ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
