body {
    min-height: 100vh;
}
.absolcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolcenter2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.displayarticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.margtop-100{
    padding-top:100px ;
}
.margtop-75{
    padding-top: 75px;
}
.vertical-line{
    border-left: 2px solid #343d4a;
    display: inline-block;
    height: 100vh;
    margin: 0 300px;
}
.vertical-line2{
    border-left: 2px solid #343d4a;
    display: inline-block;
    height: 100vh;
    right:0;
    margin-right: 300px;
}
.contentmargin{
    margin-left: 315px;
    margin-right: 315px;
}
.precnext{
    margin-top: 75px;
    width: 1280px;
    margin-left: 320px;
    margin-right: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.precnext button{
    margin-top:15px ;
}
.imgart{
    align-self: center;
    text-align: center;
    max-height: 600px;
    height: auto;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
